body {
  background-color: brown;
  margin: 0;
}


 /* grid */

 .gridContainer {
  background-color: darkkhaki;

  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 100vh;
 }

 
 .left {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
 }
 .middle {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
 }
 .right {
  grid-row: 1 / 1;
  grid-column: 3 / 3;
 }
  